body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

.content {
    width: 80%;
}

img {
    max-width: 100%;
    height: auto;
}
